@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.cont1{
    background-image: url(Rectangle.png);
    max-width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.cont2{
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt1{
    text-align: center;
}
.cont3{
    margin-top: 10px;
}
.in1{
    margin-left: 30px;
    color: #000000;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    height: 30px;
    width: 160px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in1::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.in2{
    margin-left: 20px;
    color: #000000;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    height: 30px;
    width: 160px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in2::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.in3{
    margin-left: 30px;
    margin-top: 15px;
    color: #000000;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    height: 60px;
    width: 345px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in3::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.in4{
    margin-left: 30px;
    color: #521856;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in4::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.in5{
    margin-left: 30px;
    color: #000000;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
   border-radius: 5px;
    height: 30px;
    width: 160px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in5::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.cont7{
    margin-top: 15px;
}
.in6{
    margin-top: 15px;
    margin-left: 30px;
    color: #000000;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    height: 30px;
    width: 350px;
    text-align: center;
    border: 1px solid black;
    outline: none;
}
.in6::-webkit-input-placeholder{
    color: #521856;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}
.cont9{
    margin-top: 15px;
    margin-left: 30px;
    color: #521856;
    font-size: 17px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border: none
}
.cont4{
    display: flex;
}
.cont10{
    margin-top: 19px;
    margin-left: 11px;
}
.main {
    text-decoration: none;
    display: inline-block;
    color: #521856;
    width: 140px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #ef80fd 0%, #9a189e 51%, #ef9ee1 100%);
    background-size: 200% auto;
    border: none;
    transition: .5s;
  }
  .main:hover {
    background-position: right center;
  }
  .cont11{
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
  }
